<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find dual_arm_ur5_bringup)/worlds/reza_setup.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

    <!-- push robot_description to factory and spawn robot in gazebo -->
  <!--node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot  -z 0.375 -Y 3.14" respawn="false" output="screen" /-->


  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.3" respawn="false" output="screen" />

  <include file="$(find dual_arm_ur5_bringup)/launch/robot_bringup.launch">
   <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- Add Base to the world -->
  <node name="spawn_base" pkg="gazebo_ros" type="spawn_model" 
   args="-urdf -file $(find object_models)/models/urdf/reza_setup/base.urdf -model base -x 0.5 -y -0.08 -z 0.55 -R 1.57"
   respawn="false" output="screen" />

  <!-- Add Chip to the world -->
  <node name="spawn_chip" pkg="gazebo_ros" type="spawn_model" 
   args="-urdf -file $(find object_models)/models/urdf/reza_setup/chip.urdf -model chip -x 0.5 -y 0.08 -z 0.55 -R 1.57"
   respawn="false" output="screen" />

   <!-- Add Bolt to the world -->
  <node name="spawn_bolt" pkg="gazebo_ros" type="spawn_model" 
   args="-urdf -file $(find object_models)/models/urdf/reza_setup/bolt.urdf -model bolt -x 0.7 -y -0.2 -z 0.55 -R 1.57"
   respawn="false" output="screen" />

  <!-- Add Button the world -->
  <node name="spawn_button" pkg="gazebo_ros" type="spawn_model" 
   args="-urdf -file $(find object_models)/models/urdf/reza_setup/button.urdf -model button -x 0.7 -y 0.04 -z 0.62 -R -1.57"
   respawn="false" output="screen" />

  <!-- Add cover the world -->
  <node name="spawn_cover" pkg="gazebo_ros" type="spawn_model" 
   args="-urdf -file $(find object_models)/models/urdf/reza_setup/cover.urdf -model cover -x 0.7 -y -0.01 -z 0.62 -R 1.57 -P 3.14"
   respawn="false" output="screen" />

</launch>
